@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.addcart {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgba(247, 247, 0, 0.914);
  color: black;
  font-weight: 700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .addcart {
    display: none;
  }
}
.addcart span {
  position: absolute;
  top: -2px;
  left: 24px;
  background-color: rgb(191, 6, 6);
  color: #fff;
  width: 17px;
  height: 17px;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 9px;
  border-radius: 53%;
  display: block;
}

header {
  padding-top: 30px;
}
header::before {
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  width: 200vw;
  left: calc(50% - 23px);
  top: 0;
  padding-top: 20%;
  transform: translateX(-50%) rotate(-33deg);
}
@media (max-width: 768px) {
  header::before {
    width: 0;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}
header .container {
  position: relative;
  height: 85vh;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  width: 1100px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (max-width: 768px) {
  header .container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 300px;
    border-radius: 0px;
  }
}
header .container nav {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
}
@media (max-width: 768px) {
  header .container nav {
    background: #fff;
    width: auto;
    padding-bottom: -22px;
    height: 35px;
    padding-top: 0;
  }
}
header .container nav .bi-bar-chart-steps {
  display: none;
}
@media (max-width: 768px) {
  header .container nav .bi-bar-chart-steps {
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
  }
}
header .container nav .left_nav svg {
  width: 150px;
  display: inline-block;
}
@media (max-width: 768px) {
  header .container nav .left_nav svg {
    width: 130px;
  }
}
header .container nav .left_nav svg .text-color {
  fill: #fff;
}
@media (max-width: 768px) {
  header .container nav .left_nav svg .text-color {
    fill: black;
  }
}
header .container nav .mid_nav {
  display: flex;
  padding-top: 8px;
}
@media (max-width: 768px) {
  header .container nav .mid_nav {
    display: none;
  }
}
header .container nav .mid_nav .lang_switcher {
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 30px;
  padding: 0px 4px;
}
header .container nav .mid_nav .lang_switcher a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
header .container nav .mid_nav .lang_switcher span {
  position: absolute;
  left: 19px;
  display: inline-block;
  background-color: #fff;
  width: 1px;
  height: 29px;
}
header .container nav .mid_nav .nav_links .links-items {
  display: flex;
}
header .container nav .mid_nav .nav_links .links-items li {
  list-style-type: none;
  margin-right: 12px;
  font-weight: 600;
}
header .container nav .mid_nav .nav_links .links-items li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
header .container nav .mid_nav .nav_links .links-items li .link_cntnt img {
  display: none;
}
header .container nav .mid_nav .nav_links .links-items li:hover .link_cntnt img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul {
  width: 120px;
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background-color: #fff;
  border-radius: 5px;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul li {
  text-align: left;
  margin: 8px 3px;
  font-size: 14px;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul li a {
  color: black;
  text-align: center;
}
header .container nav .right_nav {
  padding-top: 8px;
}
@media (max-width: 768px) {
  header .container nav .right_nav {
    padding-top: 0;
  }
}
header .container nav .right_nav .icon_box i {
  margin-right: 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container nav .right_nav .icon_box i {
    display: none;
  }
}
@media (max-width: 768px) {
  header .container nav .right_nav .icon_box i:nth-child(3) {
    color: black;
    display: inline-block;
  }
}
header .container nav .right_nav .icon_box i:nth-child(4) {
  display: inline-block;
  background-color: rgba(247, 247, 0, 0.914);
  color: black;
  font-weight: 700;
  border-radius: 50%;
  width: 37px;
  height: 40pxx;
  padding-top: 6px;
  padding-left: 9px;
  display: inline-block;
}
@media (max-width: 768px) {
  header .container nav .right_nav .icon_box i:nth-child(4) {
    margin-top: 3px;
    height: 38pxx;
    display: inline-block;
  }
}

#events {
  margin-top: 20px;
  margin-bottom: 100px;
}
#events .event_title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #events .event_title {
    margin-left: 20px;
    font-size: 20px;
  }
}
#events .row .col-xl-3 {
  position: relative;
}
#events .row .col-xl-3 .event_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#events .row .col-xl-3 .event_item:hover {
  background-color: #fff;
}
#events .row .col-xl-3 .event_item:hover img {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#events .row .col-xl-3 .event_item .event_cntnt {
  position: absolute;
  top: 0px;
  left: 8px;
  height: 100%;
}
#events .row .col-xl-3 .event_item .event_cntnt img {
  cursor: pointer;
}
#events .row .col-xl-3 .event_item .event_cntnt:hover img {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item .event_cntnt:hover .price {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item .event_cntnt:hover p {
  left: 10px;
  bottom: -11px;
  font-size: 13px;
  color: rgba(119, 116, 116, 0.944);
}
#events .row .col-xl-3 .event_item .event_cntnt:hover span {
  opacity: 1;
  bottom: 17px;
}
#events .row .col-xl-3 .event_item .event_cntnt p {
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: rgba(255, 255, 255, 0.7294117647);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
#events .row .col-xl-3 .event_item .event_cntnt span {
  position: absolute;
  bottom: 3px;
  left: 10px;
  color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
#events .row .col-xl-3 .event_item .event_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: none;
  border-radius: 18px;
  padding: 8px 10px;
  background-color: yellow;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#events .row .col-xl-3 .event_item .event_cntnt .price a {
  text-decoration: none;
  color: black;
}

#children {
  background: linear-gradient(to bottom right, #fd0 0, #fd0 50%, transparent 0, transparent);
}
#children p {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #children p {
    margin-left: 20px;
    font-size: 20px;
  }
}
#children .row {
  padding-bottom: 100px;
}
#children .row .col-xl-3 {
  position: relative;
}
#children .row .col-xl-3 .child_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#children .row .col-xl-3 .child_item:hover {
  background-color: #fff;
}
#children .row .col-xl-3 .child_item:hover img {
  transform: translateY(-40px);
}
#children .row .col-xl-3 .child_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#children .row .col-xl-3 .child_item .child_cntnt {
  position: absolute;
  top: 0px;
  left: 8px;
  height: 100%;
}
#children .row .col-xl-3 .child_item .child_cntnt:hover img {
  transform: translateY(-40px);
  cursor: pointer;
}
#children .row .col-xl-3 .child_item .child_cntnt:hover .price {
  transform: translateY(-40px);
}
#children .row .col-xl-3 .child_item .child_cntnt:hover p {
  bottom: -15px;
  left: -240px;
  font-size: 13px;
  color: rgba(119, 116, 116, 0.944);
}
#children .row .col-xl-3 .child_item .child_cntnt:hover span {
  opacity: 1;
  bottom: 13px;
}
#children .row .col-xl-3 .child_item .child_cntnt p {
  position: absolute;
  left: -245px;
  bottom: 6px;
  color: rgba(153, 150, 150, 0.8470588235);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
#children .row .col-xl-3 .child_item .child_cntnt span {
  position: absolute;
  bottom: 2px;
  left: 10px;
  color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
#children .row .col-xl-3 .child_item .child_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: none;
  border-radius: 18px;
  padding: 8px 10px;
  background-color: yellow;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#children .row .col-xl-3 .child_item .child_cntnt .price a {
  text-decoration: none;
  color: black;
}

#tourism p {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #tourism p {
    margin-left: 20px;
    font-size: 20px;
  }
}
#tourism .row {
  padding-bottom: 100px;
}
#tourism .row .col-xl-3 {
  position: relative;
}
#tourism .row .col-xl-3 .tourism_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#tourism .row .col-xl-3 .tourism_item:hover {
  background-color: #fff;
}
#tourism .row .col-xl-3 .tourism_item:hover img {
  transform: translateY(-30px);
}
#tourism .row .col-xl-3 .tourism_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt {
  position: absolute;
  top: 0px;
  left: 8px;
  height: 100%;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt:hover img {
  transform: translateY(-40px);
  cursor: pointer;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt:hover .price {
  transform: translateY(-40px);
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt:hover p {
  bottom: -15px;
  left: -240px;
  font-size: 13px;
  color: rgba(119, 116, 116, 0.944);
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt:hover span {
  opacity: 1;
  bottom: 13px;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt p {
  position: absolute;
  left: -245px;
  bottom: 6px;
  color: rgba(153, 150, 150, 0.8470588235);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt span {
  position: absolute;
  bottom: 2px;
  left: 10px;
  color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: none;
  border-radius: 18px;
  padding: 8px 10px;
  background-color: yellow;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#tourism .row .col-xl-3 .tourism_item .tourism_cntnt .price a {
  text-decoration: none;
  color: black;
}

#theatre p {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #theatre p {
    margin-left: 20px;
    font-size: 20px;
  }
}
#theatre .row {
  padding-bottom: 100px;
}
#theatre .row .col-xl-3 {
  position: relative;
}
#theatre .row .col-xl-3 .theatre_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#theatre .row .col-xl-3 .theatre_item:hover {
  background-color: #fff;
}
#theatre .row .col-xl-3 .theatre_item:hover img {
  transform: translateY(-30px);
}
#theatre .row .col-xl-3 .theatre_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt {
  position: absolute;
  top: 0px;
  left: 8px;
  height: 100%;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt:hover img {
  transform: translateY(-40px);
  cursor: pointer;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt:hover .price {
  transform: translateY(-40px);
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt:hover p {
  bottom: -15px;
  left: -240px;
  font-size: 13px;
  color: rgba(119, 116, 116, 0.944);
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt:hover span {
  opacity: 1;
  bottom: 13px;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt p {
  position: absolute;
  left: -245px;
  bottom: 6px;
  color: rgba(83, 81, 81, 0.7882352941);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt span {
  position: absolute;
  bottom: 2px;
  left: 10px;
  color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: none;
  border-radius: 18px;
  padding: 8px 10px;
  background-color: yellow;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#theatre .row .col-xl-3 .theatre_item .theatre_cntnt .price a {
  text-decoration: none;
  color: black;
}

#new {
  background: linear-gradient(to bottom right, #fd0 0, #fd0 50%, transparent 0, transparent);
}
#new p {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #new p {
    margin-left: 20px;
    font-size: 20px;
  }
}
#new .row {
  padding-bottom: 100px;
}
#new .row .col-xl-3 {
  position: relative;
}
#new .row .col-xl-3 .new_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#new .row .col-xl-3 .new_item:hover {
  background-color: #fff;
}
#new .row .col-xl-3 .new_item:hover img {
  transform: translateY(-30px);
}
#new .row .col-xl-3 .new_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#new .row .col-xl-3 .new_item .new_cntnt {
  position: absolute;
  top: 0px;
  left: 8px;
  height: 100%;
}
#new .row .col-xl-3 .new_item .new_cntnt:hover img {
  transform: translateY(-40px);
  cursor: pointer;
}
#new .row .col-xl-3 .new_item .new_cntnt:hover .price {
  transform: translateY(-40px);
}
#new .row .col-xl-3 .new_item .new_cntnt:hover p {
  bottom: -15px;
  left: -240px;
  font-size: 13px;
  color: rgba(119, 116, 116, 0.944);
}
#new .row .col-xl-3 .new_item .new_cntnt:hover span {
  opacity: 1;
  bottom: 13px;
}
#new .row .col-xl-3 .new_item .new_cntnt p {
  position: absolute;
  left: -245px;
  bottom: 6px;
  color: rgba(83, 81, 81, 0.7882352941);
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
#new .row .col-xl-3 .new_item .new_cntnt span {
  position: absolute;
  bottom: 2px;
  left: 10px;
  color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
#new .row .col-xl-3 .new_item .new_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: none;
  border-radius: 18px;
  padding: 8px 10px;
  background-color: yellow;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#new .row .col-xl-3 .new_item .new_cntnt .price a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */