@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  padding-top: 30px;
}
header::before {
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 221, 0, var(--tw-bg-opacity));
  content: "";
  width: 200vw;
  left: calc(50% - 23px);
  top: 0;
  padding-top: 20%;
  transform: translateX(-50%) rotate(-33deg);
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}
header .container {
  position: relative;
  height: 85vh;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  width: 1100px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (max-width: 768px) {
  header .container {
    width: auto;
    height: 300px;
    border-radius: 0px;
  }
}
header .container nav {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
}
@media (max-width: 768px) {
  header .container nav {
    padding: 0px;
  }
}
header .container nav .left_nav svg {
  width: 150px;
  display: inline-block;
}
header .container nav .left_nav svg .text-color {
  fill: #fff;
}
header .container nav .mid_nav {
  display: flex;
  padding-top: 8px;
}
@media (max-width: 768px) {
  header .container nav .mid_nav {
    display: none;
  }
}
header .container nav .mid_nav .lang_switcher {
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 30px;
  padding: 0px 4px;
}
header .container nav .mid_nav .lang_switcher a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}
header .container nav .mid_nav .lang_switcher span {
  position: absolute;
  left: 19px;
  display: inline-block;
  background-color: #fff;
  width: 1px;
  height: 29px;
}
header .container nav .mid_nav .nav_links .links-items {
  display: flex;
}
header .container nav .mid_nav .nav_links .links-items li {
  list-style-type: none;
  margin-right: 12px;
  font-weight: 600;
}
header .container nav .mid_nav .nav_links .links-items li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
header .container nav .mid_nav .nav_links .links-items li .link_cntnt img {
  display: none;
}
header .container nav .mid_nav .nav_links .links-items li:hover .link_cntnt img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul {
  width: 120px;
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background-color: #fff;
  border-radius: 5px;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul li {
  text-align: left;
  margin: 8px 3px;
  font-size: 14px;
}
header .container nav .mid_nav .nav_links .links-items li:nth-child(7) ul li a {
  color: black;
  text-align: center;
}
header .container nav .right_nav {
  padding-top: 8px;
}
header .container nav .right_nav .icon_box i {
  margin-right: 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
header .container nav .right_nav .icon_box i:nth-child(4) {
  background-color: rgba(247, 247, 0, 0.914);
  color: black;
  font-weight: 700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  padding-left: 10px;
  display: inline-block;
}

#events {
  margin-top: 20px;
  margin-bottom: 100px;
}
#events .event_title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 250px;
  color: black;
}
@media (max-width: 768px) {
  #events .event_title {
    margin-left: 20px;
    font-size: 20px;
  }
}
#events .row .col-xl-3 {
  position: relative;
}
#events .row .col-xl-3 .event_item {
  background-color: rgba(139, 137, 137, 0.773);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#events .row .col-xl-3 .event_item:hover {
  background-color: #fff;
}
#events .row .col-xl-3 .event_item:hover img {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#events .row .col-xl-3 .event_item .event_cntnt {
  position: absolute;
  top: 0;
  left: 8px;
  height: 100%;
}
#events .row .col-xl-3 .event_item .event_cntnt img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#events .row .col-xl-3 .event_item .event_cntnt:hover img {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item .event_cntnt:hover .price {
  transform: translateY(-40px);
}
#events .row .col-xl-3 .event_item .event_cntnt .price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: none;
  padding: 8px 10px;
  background-color: yellow;
  border-radius: 18px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
#events .row .col-xl-3 .event_item .event_cntnt .price a {
  text-decoration: none;
  color: black;
}
#events .row .col-xl-3 .event_item p {
  display: none;
}

#children {
  background: linear-gradient(to bottom right, #fd0 0, #fd0 50%, transparent 0, transparent);
  height: 70vh;
}/*# sourceMappingURL=style.css.map */