.addcart{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(247, 247, 0, 0.914);
    color: black;
    font-weight: 700;
    border-radius: 50%;
    width:40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 10px;
    @media(max-width:768px){
        position: fixed;
        right: 15px;
        top: 550px;

       }
    span{
        position: absolute;
        top: -2px;
        left: 24px;
        background-color: rgb(191, 6, 6);
        color: #fff;
        width: 17px;
        height: 17px;
        padding-left: 5px;
        padding-top: 3px;
        font-size: 9px;
        border-radius: 53%;
        display: block;
    }
}
header{
    &::before{
        position: absolute;
        --tw-bg-opacity: 1;
        background-color: rgba(255,221,0,var(--tw-bg-opacity));
        content: "";
        width: 118vw;
        left: calc(30% - -173px);
        top: 0;
        padding-top: 15%;
        transform: translateX(-50%) rotate(-33deg);
        @media(max-width:768px){
            display: none;
           }
           @media(max-width:1024px){
            display: none;
        }
    }
    padding-top: 30px;
    @media(max-width:768px){
     padding: 0;
    }
    .container_head{
        margin: 0 auto;
        position: relative;
        height: 85vh;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        max-width: 1100px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        @media(max-width:768px){
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: auto;
            height: 25vh;
            border-radius: 0px;
        }
        
       

    }
}
#events{
    margin-top: 20px;
    margin-bottom: 100px;
    .event_title{
        @include title(24px,700,250px,black);
        @media (max-width:768px){
            margin-left: 20px;
            font-size: 20px;
        }
    }
    .row{
      .col-xl-3{
        position: relative;
        .event_item{
            @include item_container(rgba(139, 137, 137, 0.773),10px,hidden,all .3s ease-in-out);
            &:hover{
                background-color: #fff;
                img{
                    transform: translateY(-40px);
                }
            }
            img{
                @include image(100%,100%,cover,10px,all .2s ease-in-out);
            }    
            .event_cntnt{
               @include item_cntnt(absolute,0px,8px,100%);
                img{
                     cursor: pointer;
                }
                &:hover{
                   img{
                    transform: translateY(-40px);
                   }
                   .price{
                    transform: translateY(-40px);
                   }
                   p{
                    left: 10px;
                    bottom: -11px;
                    font-size: 13px;
                    color: rgba(119, 116, 116, 0.944);
                   }
                   span{
                    opacity: 1;
                    bottom: 17px;
                   }
                }
                p{
                    position: absolute;
                    left: 10px;
                    bottom: 5px;
                    color: #ffffffba;
                    font-size: 17px;
                    font-weight: 600;
                    transition: all .2s ease-in-out;
                }
                span{
                    position: absolute;
                    bottom: 3px;
                    left: 10px;
                    color: black;
                    opacity: 0;
                    transition: all .2s ease-in-out;
                    font-weight: 700;
                }
                .price{
                    @include cntnt_btn(absolute,10px,5px,none,18px, 8px 10px,yellow,700,all .2s ease-in-out);
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
           
        }
      }
    }
}
#children{
    background: linear-gradient(to bottom right,#fd0 0,#fd0 50%,transparent 0,transparent);
     p{
       @include title(24px,700,250px,black);
        @media (max-width:768px){
            margin-left: 20px;
            font-size: 20px;
        }
     }
     .row{
       padding-bottom: 100px;
        .col-xl-3{
          position: relative;
          .child_item{
            @include item_container(rgba(139, 137, 137, 0.773),10px,hidden,all .3s ease-in-out);
            &:hover{
                background-color: #fff;
                img{
                    transform: translateY(-40px);
                }
            }
             img{
                @include image(100%,100%,cover,10px,all .2s ease-in-out);
            }    
            .child_cntnt{
                @include item_cntnt(absolute,0px,8px,100%);
                &:hover{
                    img{
                     transform: translateY(-40px);
                     cursor: pointer;
                    }
                    .price{
                     transform: translateY(-40px);
                    }
                    p{
                     bottom: -15px;
                     left: -240px;
                     font-size: 13px;
                     color: rgba(119, 116, 116, 0.944);
                    }
                    span{
                     opacity: 1;
                     bottom: 13px;
                    }
                 }
                p{
                    position: absolute;
                    left: -245px;
                    bottom: 6px;
                    color: #999696d8;
                    font-size: 17px;
                    font-weight: 600;
                    transition: all .2s ease-in-out;
                }
                span{
                    position: absolute;
                    bottom: 2px;
                    left: 10px;
                    color: black;
                    opacity: 0;
                    transition: all .2s ease-in-out;
                    font-weight: 700;
                }
                .price{
                    @include cntnt_btn(absolute,10px,5px,none,18px, 8px 10px,yellow,700,all .2s ease-in-out);
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
          }
        }
     }
}
#tourism{
    p{
      @include title(24px,700,250px,black);
       @media (max-width:768px){
           margin-left: 20px;
           font-size: 20px;
       }
    }
    .row{
        padding-bottom: 100px;
         .col-xl-3{
           position: relative;
           .tourism_item{
             @include item_container(rgba(139, 137, 137, 0.773),10px,hidden,all .3s ease-in-out);
             &:hover{
                 background-color: #fff;
                 img{
                     transform: translateY(-30px);
                 }
             }
              img{
                 @include image(100%,100%,cover,10px,all .2s ease-in-out);
             }    
             .tourism_cntnt{
                 @include item_cntnt(absolute,0px,8px,100%);
                 &:hover{
                     img{
                      transform: translateY(-40px);
                      cursor: pointer;
                     }
                     .price{
                      transform: translateY(-40px);
                     }
                     p{
                      bottom: -15px;
                      left: -240px;
                      font-size: 13px;
                      color: rgba(119, 116, 116, 0.944);
                     }
                     span{
                      opacity: 1;
                      bottom: 11px;
                     }
                  }
                 p{
                     position: absolute;
                     left: -245px;
                     bottom: 6px;
                     color: #999696d8;
                     font-size: 17px;
                     font-weight: 600;
                     transition: all .2s ease-in-out;
                 }
                 span{
                     position: absolute;
                     bottom: 2px;
                     left: 10px;
                     color: black;
                     opacity: 0;
                     transition: all .2s ease-in-out;
                     font-weight: 700;
                 }
                 .price{
                    @include cntnt_btn(absolute,10px,5px,none,18px, 8px 10px,yellow,700,all .2s ease-in-out);
                     a{
                         text-decoration: none;
                         color: black;
                     }
                 }
             }
           }
         }
      }
}
#theatre{
    p{
        @include title(24px,700,250px,black);
         @media (max-width:768px){
             margin-left: 20px;
             font-size: 20px;
         }
      }
      .row{
          padding-bottom: 100px;
           .col-xl-3{
             position: relative;
             .theatre_item{
               @include item_container(rgba(139, 137, 137, 0.773),10px,hidden,all .3s ease-in-out);
               &:hover{
                   background-color: #fff;
                   img{
                       transform: translateY(-30px);
                   }
               }
                img{
                   @include image(100%,100%,cover,10px,all .2s ease-in-out);
               }    
               .theatre_cntnt{
                   @include item_cntnt(absolute,0px,8px,100%);
                   &:hover{
                       img{
                        transform: translateY(-40px);
                        cursor: pointer;
                       }
                       .price{
                        transform: translateY(-40px);
                       }
                       p{
                        bottom: -15px;
                        left: -240px;
                        font-size: 13px;
                        color: rgba(119, 116, 116, 0.944);
                       }
                       span{
                        opacity: 1;
                        bottom: 11px;
                       }
                    }
                   p{
                       position: absolute;
                       left: -245px;
                       bottom: 6px;
                       color: #beb9b9c9;
                       font-size: 17px;
                       font-weight: 600;
                       transition: all .2s ease-in-out;
                   }
                   span{
                       position: absolute;
                       bottom: 2px;
                       left: 10px;
                       color: black;
                       opacity: 0;
                       transition: all .2s ease-in-out;
                       font-weight: 700;
                   }
                   .price{
                      @include cntnt_btn(absolute,10px,5px,none,18px, 8px 10px,yellow,700,all .2s ease-in-out);
                       a{
                           text-decoration: none;
                           color: black;
                       }
                   }
               }
             }
           }
        }
}
#new{
    background: linear-gradient(to bottom right,#fd0 0,#fd0 50%,transparent 0,transparent);
    p{
        @include title(24px,700,250px,black);
         @media (max-width:768px){
             margin-left: 20px;
             font-size: 20px;
         }
      }

      .row{
        padding-bottom: 100px;
         .col-xl-3{
           position: relative;
           .new_item{
             @include item_container(rgba(139, 137, 137, 0.773),10px,hidden,all .3s ease-in-out);
             &:hover{
                 background-color: #fff;
                 img{
                     transform: translateY(-30px);
                 }
             }
              img{
                 @include image(100%,100%,cover,10px,all .2s ease-in-out);
             }    
             .new_cntnt{
                 @include item_cntnt(absolute,0px,8px,100%);
                 &:hover{
                     img{
                      transform: translateY(-40px);
                      cursor: pointer;
                     }
                     .price{
                      transform: translateY(-40px);
                     }
                     p{
                      bottom: -15px;
                      left: -240px;
                      font-size: 13px;
                      color: rgba(119, 116, 116, 0.944);
                     }
                     span{
                      opacity: 1;
                      bottom: 11px;
                     }
                  }
                 p{
                     position: absolute;
                     left: -245px;
                     bottom: 6px;
                     color: #928e8ec9;
                     font-size: 17px;
                     font-weight: 600;
                     transition: all .2s ease-in-out;
                 }
                 span{
                     position: absolute;
                     bottom: 2px;
                     left: 10px;
                     color: black;
                     opacity: 0;
                     transition: all .2s ease-in-out;
                     font-weight: 700;
                 }
                 .price{
                    @include cntnt_btn(absolute,10px,5px,none,18px, 8px 10px,yellow,700,all .2s ease-in-out);
                     a{
                         text-decoration: none;
                         color: black;
                     }
                 }
             }
           }
         }
      }  
}
#appblock{
    margin-bottom: 100px;
    .container{
        width: 950px;
        @media(max-width:768px){
            width: auto;
        }
        .row{
            padding: 30px;
            background-color: rgb(255, 221, 0);
            border-radius: 20px;
            height: 315px;
    
            .col-xl-7{
                .app_item{
                    p{
                        font-size: 24px;
                        font-weight: 700;
                        max-width: 250px;
                    }
                    span{
                      font-size: 14px;
                      color: black;
                    }
                    .appbtns{
                        display: flex;
                        background-color: black;
                        width: 270px;
                        border-radius: 20px;
                        padding: 7px 1px;
                        margin-top: 15px;
                        .ggle{
                           background-color: black;
                           padding: 2px 4px;
                           border-radius: 20px;
                           cursor: pointer;
                           img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                           }
                        }
                        span{
                            display: inline-block;
                            background-color: #fff;
                            height: 40px;
                            width: 1px;
                        }
                    }
                }
            }
            .col-xl-5{
                position: relative;
                @media(max-width:768px){
                    display: none;
                }
                .app_item_img{
                    height: 347px;
                    width: 216px;
                    position: absolute;
                    bottom: -30px;
                    right: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    
}
